.Header {
  background-color: #0f1111;
  color: white;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  img {
    width: 100px;
    margin-left: 20px;
  }

  .lineTwo {
    font-weight: bold;
  }
}

.Header-search {
  flex-grow: 1;
  height: 40px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  &:focus-within {
    box-shadow: 0 0 0 2px #f90;
  }
  input {
    width: 100%;
    border: none;
    font-size: 16px;
  }

  .Header-searchIcon-Container {
    width: 45px;
    background-color: #fcb558;
    display: flex;
    justify-content: center;
    align-items: center;

    .searchIcon {
      color: black;
    }
  }
}
.Header-option {
  display: flex;
  flex-direction: column;
  padding: 9px;
}

.Header-navItems {
  display: flex;
  justify-content: center;
  align-items: center;

  .Header-NavOption {
    display: flex;
    flex-direction: column;
    padding: 9px;
  }

  .cart {
    display: flex;
    flex-direction: row;
    padding: 9px;
  }

  .Header-cartCount {
    font-weight: bold;
    color: #f90;
    font-size: 20px;
    padding: 0 3px;
  }
}
